*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}
.header a i{
    width: 10px;
    height: 30px;
    cursor: pointer;
    padding: 10px;
    color: #020202;
}
.logo{
    height: 27px;
    padding: 2px;
    cursor: pointer;
    left: 5px;
    display: flex;
    justify-content: space-between;
}
form{
    display: flex;
    margin: 26px;
}
.search-input{
    width: 135vh;
    padding: 10px;
    border: 1px solid rgb(211, 211, 211);
    font-size: 17px;
}
.search-btn{
    display: flex;
    align-items: center;
    border: 1px solid rgb(202, 202, 202);
    background-color: white;
    border-left: none;
    cursor: pointer;
    padding: 7px;
}
.search-btn:hover{
    background-color: #f0f0f0;
}
.svg{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
.chanel-foto{
    border-radius: 50%;
    width: 36px;
    height: 35px;
}
.categories{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    top: 50px;
    background: rgb(253,253,253);
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    padding: 0 20px;
}
.category{
    margin: 15px;
    border: 1px solid #ccc;
    border-radius: 50px;
    background-color: #e7e5e5;
    padding: 8px 25px;
    font-size: inherit;
    cursor: pointer;
    text-decoration: none;
    color:#020202;
}
.category-active{
    background-color: #020202;
    color:white;
    text-decoration: none;
    border: 1px solid #020202;
    border-radius: 50px;
    padding: 7px;
    font-size: inherit;
}
.category:hover{
background-color: rgb(199, 199, 199);
}
.videos{
    margin: 1px 9px;
}
.video-section{
    display:inline-flex;
    justify-content: space-between;
    align-items:center;
    border-top: 1px solid rgb(255, 255, 255);
    margin: 0 1.5rem;
}
.video-container{
    display: flex;
    flex-direction: column;
}
.thumbnail{
 display: flex;
 position: relative;
 top: 17px;
}
.thumbnail::before {
    content: attr(data-duration);
    position: absolute;
    background-color: rgba(0, 0, 0, .85);
    color: white;
    right: 5px;
    bottom: 5px;
    padding: .1em .3em;
    border-radius: .3em;
    font-size: .9rem;
}
.thumbnail-image{
    width: 215px;
    height: 140px;
}
.video-bottom-section {
    display: flex;
    align-items: flex-start;
    margin-top: 8px;
}
.channel-icon {
    margin-right: .75rem;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    margin-top: 100%;
}
.video-details {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}
.video-title {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: .5rem;
    text-decoration: none;
    color: black;
}
.video-channel-name {
    margin-bottom: .1rem;
    text-decoration: none;
    transition: color 150ms;
}
.video-channel-name:hover {
    color: #111;
}
.video-channel-name,
.video-metadata {
  color: #555;
}